#divstyle {
  margin-left: 300px;
  margin-top: 100px;
  background-color: black;
  width: 450px;
  height: 180px;
}
#timer {
  font-size: 100px;
  padding-left: 30px;
  width: 1000px;
  color: white;
}
#buttons {
  padding-top: 20px;
  padding-left: 100px;
  width: 600px;
}
#buttons button {
  font-size: 24px;
  color: brown;
}
