<fieldset>
<label>ID:</label><input type="number" [(ngModel)]="id"   />  
<br/><br/>
<label>Name: </label><input type="text" [(ngModel)]="name"   />  
<br/><br/>
<label>Price: </label><input type="number" [(ngModel)]="price"   />  
<br/><br/>
<label>Category: </label><input type="text" [(ngModel)]="cat"   />
<br/><br/>
<label>Quantity: </label><input type="number" [(ngModel)]="qty"   />
<br/><br/>

<input type="button" (click)="Get()" value="Get Product" />  
<input type="button" (click)="Add()" value="Add Product" />  
<input type="button" (click)="Update()" value="Update Product" />  
<input type="button" (click)="Reset()" value="Reset" />  <br/>
<div *ngFor="let item of productArray">
    <div class="pdt">
    <p class="pdt__text">Product Id:{{item.id}}</p>
    <p class="pdt__text">Name:{{item.name}}</p>
    <p class="pdt__text">Price:{{item.price}}</p>
    <p class="pdt__text">Category:{{item.cat}}</p>
    <p class="pdt__text">Qty:{{item.qty}}</p>
    </div>
</div>
</fieldset>
